.warning {
    font-style: italic
}

.wrap-comment {
    margin-top: 16px;
    max-height: 500px;
    overflow-y: auto;
}

.comment {
    display: flex;
    margin: 16px 0;
}

.comment-ava {
    margin-right: 20px;
}

.comment-wrap {
    display: flex;
    align-items: center;
}

.comment-detail {
    background-color: rgba(109, 109, 109, 0.2);
    border-radius: 8px;
    padding: 8px 12px;

    .comment-name {
        font-weight: 700;
    }
}

.comment-delete {
    margin-left: 16px;
    padding: 1px 8px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        color: var(--white-color);
        background-color: var(--primary-color);
    }
}

.deleteWarning-wrap {
    text-align: center;
    margin-left: 10px;
    .deleteWarning {
        padding: 12px 20px;
        background: var(--white-color);
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        box-shadow: 0 2px 24px rgba(0,0,0,.2);
    
        .deleteWarning-icon {
            margin-bottom: 8px;
            color: #fbc02d;
            font-size: 3rem;
        }
    
        .deleteBtn {
            color: var(--white-color);
            font-weight: 500;
            font-size: 1.2rem;
            padding: 4px 14px;
            margin: 4px 6px;
        }
    }
}