.wrapper {
    display: flex;
    justify-content: space-between;

    min-height: calc(100vh - var(--header-height-admin));
}

.left {
    width: 100%;
    margin: 24px 24px 24px 448px;

    .addPost-btn {
        background-color: var(--primary-color-admin);
        font-size: 1.6rem;
        font-weight: 500;
    }

    .table-container {
        padding: 24px;
        margin-top: 16px;
        background-color: var(--white-color);
        border-radius: 8px;

        .table {
            font-size: 1.8rem;
            margin-bottom: 0;

            .table-btn-wrapper {
                text-align: center;
                .table-btn {
                    color: var(--white-color);
                    font-weight: 500;
                    font-size: 1.2rem;
                    padding: 4px 14px;
                    margin: 4px 6px;
                }
            }
        }
    }
}

.top-action {
    display: flex;
    justify-content: space-between;
}

.right {
    position: fixed;
}


.form {
    font-size: 1.8rem;
    font-weight: 600;
    min-width: 400px;
    padding: 24px 28px;
    margin: 24px 0 24px 24px;
    background-color: var(--white-color);
    border-radius: 8px;

    .heading {
        font-weight: 600;
        text-align: center;
    }

    .input-form {
        font-size: 1.5rem;
    }

    .btn-form {
        text-align: right;

        .submit-btn,
        .close-btn {
            font-weight: 500;
            font-size: 1.8rem;
            padding: 4px 24px;
            margin: 8px 4px 0;
        }
    }
    
}

.pushTable {
    margin: 24px;
}

.hide {
    display: none;
}