@import '../../../gird.module.scss';

.wrapper {
    width: 100%;
    margin-top: var(--header-height);
    margin-bottom: 30px;
}

.main-heading {
    margin-top: 50px;
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

.sub-heading {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

.divider {
    margin: 24px auto !important;
    
}

.chapter {
    margin: 24px 0;

    .heading {
        font-size: 3.5rem;
        font-weight: 700;
    }
    .content {
        font-size: 1.8rem;
        text-align: justify;
    }
    ul.content {
        margin-left: 24px;
    }
}