.wrapper {
    position: relative;
    margin-left: var(--sidebar-width);
}

.inner {
    width: 100%;
    height: var(--header-height-admin);
    overflow: hidden;
    border-radius: 1rem;
    transform-origin: center left;
    
    transition: all 0.4s;

    img {
        object-fit: cover;
    }

    .banner {
        
        height: 100%;
        width: 100%;
        animation: animScale 45s alternate ease-in-out 1s infinite;
        @keyframes animScale {
            from {
                transform: scaleX(1);
            }
            to{
                transform: scaleX(1.5);
            }
        }
    }
}

.info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    .admin-info {
        display: flex;
        align-items: center;
    
        .admin-ava {
            height: 100px;
            width: 100px;
            font-size: 3rem;
            font-weight: 700;
            border: 1px solid var(--white-color);
        }
    
        .admin-details {
            min-width: 300px;
            padding: 12px 24px;
            margin-left: 20px;
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--white-color);
            background: linear-gradient(117.76deg,hsla(0,0%,100%,.5) -7.21%,hsla(0,0%,100%,.01) 118.08%);
            border: 1px solid #fff;
            border-radius: 5px;
            backdrop-filter: blur(10px);
        }
    }

    .statistical {
        display: flex;

        .student,
        .trainer {
            display: flex;
            align-items: center;
            min-width: 180px;
            padding: 8px 15px;
            margin: 24px 8px;
            color: var(--primary-color-admin);
            background: var(--white-color);
            border: 1px solid #fff;
            border-radius: 5px;
        }
        .detail {
            margin-left: 16px;

            .title {
                font-weight: 700;
            }

            .number {
                margin-bottom: 0;
            }

            .title,
            .number {
                font-size: 2rem;
            }
        }

    }
    .logout-btn {
        display: flex;
        font-size: 2rem;
        padding: 8px 15px;
        margin: 40px 0;
        align-items: center;
        color: var(--primary-color-admin);
        background: var(--secondary-color-admin);
        border: 1px solid #fff;
        border-radius: 5px;
        transition: all .2s ease;

        .logout-icon {
            margin-right: 12px;
        }

        &:hover {
            color: var(--white-color);
            background-color: var(--primary-color-admin);
            cursor: pointer;
        }
    }
}



