body.menuModal {
    overflow: hidden;
}

.menuModal {
    
    background-color: rgba(0,0,0,0.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 21;

    .menu-body {
        background-color: var(--white-color);
        bottom: 0;
        right: 0;
        position: absolute;
        top: 0;
        width: 50%;
        animation: fadeIn ease 0.5s;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(80%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(80%);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    max-height: 100%;
    overflow-y: auto;
    padding: 16px 0 0 32px;
}

.list-items {
    margin: 0 0 12px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0,0,0,.079);
}

.list-item {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 0 20px 20px;
    transition: all .2s linear;

    .menu-icon {
        color: #757575;
        display: inline-block;
        margin-right: 16px;
        text-align: center;
        width: 20px;
    }

    &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
        .menu-icon {
            color: var(--white-color);
        }
    }

    &.active {
        color: var(--white-color);
        background-color: var(--primary-color);
        .menu-icon {
            color: var(--white-color);
        }
    }
}

@media (min-width: 0px) and (max-width: 739px) {
    .menuModal {

        .menu-body {
            width: 70%;
    
        }
    }
}