.wrapper {
    height: 500px;
    margin: 30px 0;
    
}

.card {
    position: relative;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white-color);
    
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

    transition: 0.25s;

    .card-header {
        height: 200px;
        .card-img {
            width: 100%;
            height: 100%;
        }
    
    }
    
    .card-body {
        padding: 20px 18px;

        .top {
            display: flex;
            justify-content: space-between;
        }
    
        .title {
            margin: 10px 0 15px;
        
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        
        .desc {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
    }

    .card-btn {
        position: absolute;
        top: 91%;
        left: 10%;

        font-weight: 600;
        color: var(--primary-color);

        transition: 0.25s;
        
        .more-icon {
            padding-left: 10px;
        }

        &:hover {
            cursor: pointer;
            transform: translateX(10px);
        }
    }

    &:hover  {
        transform: translateY(-10px);
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .like-btn {
        display: none;
    }
    
}

//sidebar PostPage
.wrapper.horizontal-card {
    height: 200px;
    .card {
        display: flex;
        

        .card-header {
            width: 282px;
            .card-img {
                width: auto;
            }
        }

        .card-body {
            padding: 20px 24px;
        
            .title {
                margin: 10px 0 15px;
            
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            
            .desc {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        .card-btn {
            display: none;
        }

        &:hover  {
            transform: translateX(10px);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .like-btn {
            display: block;
            font-size: 1.8rem;
            margin-left: auto;
            border: none;
            background-color: #fff;
            .like-icon {
                margin-right: 8px;
                font-size: 2rem;
            }

            &:hover {
                color: #b71c1c;
            }
        }
    }


}


@media (max-width: 739px) {
    .wrapper {
        display: flex;
        justify-content: center;
        
    }
    .card {
        max-width: 350px;
    }
}
