.parallax {
    background-image: url(../../assets/images/slider2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    height: 450px;
}

.parallax-text {
    position: absolute;
    text-align: center;

    top: 50%;
    // left: 50%;
    // transform: translateY(-50%, -50%);
}

.parallax-heading {
    font-size: 4rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 20px;
}

.parallax-link {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    padding: 5px 25px;

    border: 1px solid var(--white-color);
    border-radius: 2px;

    transition: color,background-color 0.2s linear;
    
    &:hover {
        color: var(--black-color);
        background-color: var(--white-color);
        
    }
}