@import '../../gird.module.scss';

.wrapper {
    width: 100%;
    margin-top: var(--header-height);
    min-height: 70vh;
    margin-bottom: 60px;
}

.cover {
    position: relative;
    height: 300px;
    background-image: url(../../assets/images/coverPersonalPage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    .avatar {
        border: 3px solid var(--white-color);
        font-size: 2.5rem;
        font-weight: 600;
        height: 150px;
        width: 150px;
    }

    .fullName {
        font-size: 4rem;
        font-weight: 700;
        margin: 10px 0 0;
    }
}

.info-wrap {
    margin: 180px 0 0;

    .info {
        padding: 20px 32px 10px 40px;
        margin-bottom: 24px;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0,0,0,.2);
        .content {
            font-size: 2.3rem;
            letter-spacing: 2px;
            .title {
                margin-right: 8px;
            }
        }
    }

    .bmi-img {
        .img {
            width: 100%;
            margin-bottom: 24px;
            border-radius: 10px;
            box-shadow: 0 1px 5px rgba(0,0,0,.2);
        }
    }
    
}

.bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
    
    .action-btn {
        min-width: 200px;
        padding: 8px 24px;
        
        background-image: linear-gradient(171deg,var(--primary-color),var(--primary-color-admin));
        border-radius: 18px;
        .text-btn {
            color: var(--white-color);
            padding: 8px 24px;
            font-size: 2rem;
            font-weight: 500;
        }
        &:hover {
            cursor: pointer;
            background-image: linear-gradient(171deg,var(--primary-color), #4080ff);
        }
    }
}

