@import '../../gird.module.scss';

.wrapper {
    --footer-text-color: #a9b3bb;
}

.top {
    background-color: #181821;
    overflow: hidden;
    padding: 68px 0 40px;
}

.heading {
    color: var(--white-color);
    margin-bottom: 10px;
}

.list {
    color: var(--footer-text-color);

    a {
        color: var(--footer-text-color);

        &:hover {
            color: #fff;
        }
    }
}

.footer-img {
    margin-top: 30px;
}

.bottom {
    background-color: var(--white-color);
}

.content-bottom {
    display: flex;
    align-items: center;
}

.copyright {
    color: var(--black-color);
}

.social-list {
    margin-left: auto;
}

.social-item {
    font-size: 3.2rem;
    margin-left: 20px;

    .youtube-icon {
        color: rgba(235, 44, 59, 1);

        &:hover {
            color: rgba(235, 44, 59, 0.8);
        }
    }
    .facebook-icon {
        color: rgba(66, 103, 178, 1);

        &:hover {
            color: rgba(66, 103, 178, 0.8);
        }
    }
    .ig-icon {
        color: rgba(205, 72, 107, 1);

        &:hover {
            color: rgba(205, 72, 107, 0.8);
        }
    }
    .tiktok-icon {
        color: rgba(0, 0, 0, 1);

        &:hover {
            color: rgba(0, 0, 0, 0.8);
        }
    }
        
}

@media (max-width: 739px) {
    .column {
        margin-bottom: 28px;
    }
    .top,
    .bottom {
        padding: 40px 32px 28px;
    }
}