.wrapper {
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgba(0,0,0,.2);
    color: #1d2129;
    margin: 0;
    min-width: 230px;
    padding: 8px 24px!important;
    overflow: hidden;
    padding-left: 0;
    will-change: opacity,transform;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

.user {
    align-items: center;
    display: flex;

    border-bottom: 1px solid rgba(0,0,0, 0.05);
}

.avatar {
    height: 50px;
    width: 50px;
    margin: 10px 0;
    object-fit: cover;
}

.info {
    margin-left: 12px;
}

.name {
    color: #292929;
    font-size: 2rem;
    font-weight: 700;
}

.menu-item {
    margin: 4px 0;
    padding: 0 6px;

    &:hover {
        a, span {
            color: var(--primary-color);
            cursor: pointer;
        }
    }
}

.menu-list {
    a, span {
        color: #666;
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 10px 0;
    }
}