@import '../../gird.module.scss';

.wrapper {
    width: 100%;
    min-height: 80vh;
    margin-top: var(--header-height);
}

.row-sidebarPost {
    padding: 40px 0;
}

.sidebarPost {
    height: 100%;

}

.top-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-heading.search-post {
    justify-content: space-between;
    margin-top: 16px;
}

.back-page {
    font-size: 1.8rem;
    font-weight: 500;
    .icon-back {
        margin-right: 8px;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.search {
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: all .2s ease;

    &:hover {
        background-color: var(--primary-color);
        .icon-search {
            color: var(--white-color);
        }
    }
}

.info-heading {
    display: flex;
}

.heading {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.heading-link {
    &:hover {
        color: var(--primary-color);
    }
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 600;

    padding-top: 30px;
    margin-left: 16px;

    .content {
        margin-left: 16px;
    }
}

.noPost {
    text-align: center;
    margin: 40px 0 16px;
    .noPost-img {
        width: 40%;
        margin-bottom: 24px;
    }
    .noPost-content {
        margin-top: 16px;
    }
}

.linearProgress {
    margin: 8px 0 24px;
}

.row-paginate {
    display: flex;
    justify-content: center;
}

.paginate {
    display: flex;
    justify-content: center;
}

.recommended {
    display: flex;
    flex-direction: column;
}