@import '../../gird.module.scss';

.wrapper {
    width: 100%;
    margin-top: var(--header-height);
}

.row-sidebarPost {
    padding: 40px 0;
}

.sidebarPost {
    height: 100%;

}

.top-heading {
    display: flex;
}

.heading {
    color: var(--black-color);
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0;

    &:hover {
        color: var(--black-color);
    }
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 600;

    padding-top: 30px;
    margin-left: 16px;

    .content {
        margin-left: 16px;
    }
}