@import '../../gird.module.scss';

.wrapper {
    width: 100%;
    margin-top: var(--header-height);
}

.row-sidebarPost {
    padding: 40px 0;
}

.sidebarPost {
    height: 100%;

    .sidebarPost-list {

        .sidebarPost-item {
            font-size: 2.5rem;
            font-weight: 600;
            margin: 8px 0;

            width: 10px;
            background-color: var(--primary-color);
        }
    }
}

.heading {
    font-size: 5rem;
    font-weight: 700;
}