.wrapper {
    --search-height: 40px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--header-height);

    background-color: rgba(183, 28, 28, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100%;
}

.logo {
}


.login-btn {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 6px 18px;
    color: var(--black-color);
    background-color: var(--secondary-color);
    border-radius: 999px;

    &:hover {
    color: var(--primary-color);

    }
}