@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";

:root {
    //client
    --primary-color: #b71c1c;
    --primary-opacity-color: rgba(183, 28, 28, 0.8);
    --secondary-color: rgba(255, 235, 238, 1);

    //admin
    --primary-color-admin: #3a57e8;
    --secondary-color-admin: #e7ebfc;
    
    --white-color: #fff;
    --grey-color: #424242;
    --black-color: #000;

    --font-family: 'Saira Condensed', sans-serif;

    --header-height: 65px;
    //admin
    --sidebar-width: 240px;
    --header-height-admin: 264px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: var(--black-color);

    &:hover {
        color: var(--black-color);
    }
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

::selection {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

